pydub~=0.25.1
wave~=0.0.2
google-cloud-storage==2.1.0
google-cloud-speech
pandas~=2.2.3
lightgbm
moviepy~=1.0.3
tqdm~=4.66.4
requests~=2.32.3
numpy~=2.2.4
torch~=2.6.0
transformers~=4.51.0
psutil~=7.0.0
setuptools~=72.1.0
tokenizers~=0.21.1
regex~=2024.11.6
soundfile~=0.13.1
six~=1.17.0
ipython~=9.0.2
beautifulsoup4~=4.13.3

matplotlib~=3.10.1
scikit-learn~=1.6.1
librosa~=0.11.0
opensmile~=2.5.1
scipy~=1.15.2
pillow~=11.2.1
joblib~=1.4.2